/**
 * Nextflow configuration of temporary workarounds to improve pipeline stability.
 *
 * @see https://github.com/utia-gc/ngs/issues/154
 */
process {
	// @see https://github.com/utia-gc/ngs/issues/149
	// if FastQC keeps failing with that annoying SIGBUS error (code 134) retry it once, otherwise just keep running the pipeline
	withName: 'fastqc' {
		errorStrategy = { task.exitStatus in [134, *137..140] ? 'retry' : 'ignore' }
		maxRetries = 1
	}

	// if GATK MarkDuplicates keeps failing with that annoying OOM error (code 247) retry it a couple of times, otherwise finish running tasks and exit the pipeline
	// @see https://github.com/utia-gc/ngs/issues/142
	withName: 'gatk_MarkDuplicates' {
		errorStrategy = { task.exitStatus in [*137..140, 247] ? 'retry' : 'finish'}
		maxRetries = 2
	}

	// if GATK MergeSamFiles keeps failing with that annoying OOM error (code 250) retry it a couple of times, otherwise finish running tasks and exit the pipeline
	// @see https://github.com/utia-gc/ngs/issues/162
	withName: 'gatk_MergeSamFiles' {
		errorStrategy = { task.exitStatus in [*137..140, 250] ? 'retry' : 'finish'}
		maxRetries = 2
	}
}


// throw non-zero exit code if any failed tasks are ignored, e.g. FastQC
workflow {
	failOnIgnore = true
}
